/* Media Query for larger screens (tablets and above) */
@media (min-width: 768px) {
    nav ul {
        flex-direction: row; 
        justify-content: space-between; 
        width: 100%;  
    }

    #menu {
        display: none;  /* Hide hamburger on larger screens */
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .profile .name {
        font-size: 2.8rem;
    }

    .navigation {
        display: flex;  
        width: 100%; 
        justify-content: space-between;
    }

    .navigation li {
        display: inline-block;  /* Display the items horizontally */
    }

    .navigation a {
        padding: 1rem;
        font-size: 1rem; /* Adjust font size for larger screens */
    }
}