/* Media Query for larger screens (tablets and above) */
@media (min-width: 768px) {
    
    nav ul {
        flex-direction: row;
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .profile .name {
        font-size: 2.8rem;
    }
}